menu "Fingerprint Drivers"

config FINGERPRINT_FPC1020
	tristate "Fingerprint Cards FPC1020"
	help
	  Say y here to enable FPC1020 support.

config FINGERPRINT_GF3208
    tristate "Goodix GF3208"
    help
        Say y here to enable GF3208 support.

endmenu
